
<h2 style="text-align: center;"><b>Requirement List</b></h2>
<nav class="navbar">
    <table >
        <tr>
            <td>
                <input class="form-control" type="text" name="category" [(ngModel)]="category" (ngModelChange)="Search()"
                placeholder="Enter category to search.."></td>

            <td>
                <input class="form-control" type="text" name="type" [(ngModel)]="type" (ngModelChange)="Search1()"
                placeholder="Enter type to search.."></td>
        </tr>
    </table>
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Resource Id</th>
            <th> Category</th>
            <th> Type</th>
            <th> Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let requirement of requirements | paginate: {itemsPerPage:6,currentPage:p};">

            <td>{{ requirement.resId}}</td>
            <td>{{ requirement.category}}</td>
            <td>{{ requirement.type}}</td>
            <td>
                <button (click) = "updateRequirement()" class = "btn btn-info"> Update</button>
                <button (click)= "deleteRequirement(requirement.resId)" class="btn btn-danger" style="margin-left:20px;">Delete</button>
            </td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>

